@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  outline: none;
}

*:focus{
  outline: none;
}

html{
  font-family: 'Inter', sans-serif;
}

/* .badge::after {
  content: attr(count);
  font-size: 0px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 5px 5px;
  position: relative;
  opacity: 1;
} */